html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.unit {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: green;
    border: 3px solid black;
    top: 0;
    left: 0;
}